
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Warmups</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="shared/nav/mainNav.js"></script>
  </head>
  <body>
    <main-nav></main-nav>
    <form>
      <input type="radio" value="1" ng-model="radios">1</input>
      <input type="radio" value="2" ng-model="radios">2</input>
      <input type="radio" value="3" ng-model="radios">3</input>
      <input type="radio" value="4" ng-model="radios">4</input>
      <input type="radio" value="5" ng-model="radios">5</input>

      <input type="Submit">Ship it!</input>
    </form>
  </body>
</html>
